 
 
 body{
     background-color: LavenderBlush;
 }
 #display-ingredient{
    text-align: center;
 }
#search-input{
    font-size: 12px;
    padding: 3px;
    border-radius: 5px;
}
#display-container{
display: grid;
grid-template-columns: repeat(4 ,1fr);

}
.meal-items{
 margin: 0 auto;
padding: 5px;
}
.meal-items img {
 width: 200px;
}
.item-name{
    width: 200px;
    text-align: center;
    font-size: 12px;
    background-color:#F8F7F5;
    border-radius: 5px;
    padding: 10px;
    
}
#display-ingredient{
    width: 400px;
    margin: o auto;
}
.ingredient-img{
    width: 200px;
}
